.customerLog{
    width: 70%;
    height: 500px;
    background-color: rgb(255, 255, 255);
    border-top: 2PX solid blue;
    border-radius: 10PX;
    margin-top: 15px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

            
.logFrame{
    justify-content: center;
    display: flex;
    
}

.student-label{
    margin-left: 10px;
}

.customer-login-name{
    text-align: center;
    color: rgb(86, 86, 114);
}

.buttonFrame{
    display: flex;
    justify-content: end;
}

.submit-button{
    margin-right: 10px;
}