.search input{
   width: 390px;
   border-radius: 15px;
   height: 40px;
   text-align: center;
}

.search{
    border-radius: 15px;
}
.butt button{
    width: 450px;
    margin-left: 5%;
    height: 40px;
}
